a {
    text-decoration: none;
    color: inherit;
}

:visited {
    color: black;
}

.absolute-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-body:hover {
    text-shadow: 2px 2px 10px black;
    background-size: 101%;
}

a .card-body {
    height: 15rem;
}

.main-page-button {
    margin-bottom: 2rem;
    max-height: 25rem;
    height: 15rem;
    border-radius: 25px;
    border: 0px;
}

.main-page-button .card-body {
    background-size: cover;
    background-color: grey;
    transition: background-position 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 3em;
    border-radius: 25px;
    text-shadow: 5px 5px 25px black;
    transition: filter 0.2s ease-in-out;
}

.about-contact-cards-container {
    margin-left: 2rem;
    margin-right: 2rem;
}

.about-contact-cards-container .card-header {
    text-align: center;
    font-size: 3rem;
}

.about-contact-card.card-body:hover {
    text-shadow: none;
}

.about-contact-card:hover {
    text-shadow: none;
}

.card-header {
    text-align: center;
}

.footer {
    text-align: center;
    margin-bottom: 1rem;
}

.footer a {
    color: black;
    margin: 0.5rem;
}

.page-wide-cards-container {
    margin-left: 2rem;
    margin-right: 2rem;
}

#about-card-body {
    text-shadow: none;
}

#about-contact-footer {
    margin-top: 2rem;
}

#books-button {
    background-image: url("../assets/gulfer-ergin-LUGuCtvlk1Q-unsplash.jpg");
}

#buttons-container {
    margin-left: 3rem;
    margin-right: 3rem;
}

#coding-tutorials-button {
    background-image: url("../assets/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
}

#contact-us-card-body {
    text-align: center;
    text-shadow: none;
    font-size: 2rem;
}

#github-button {
    background-image: url("../assets/github_octopus.png");
}

#learning-kits-button {
    background-image: url("../assets/nicolas-thomas-CBydtQDjaJc-unsplash.jpg");
    text-shadow: 2px 2px 15px black, 2px 2px 15px black, 2px 2px 15px black;
}

#learning-kits-button:hover span {
    display: none;
}

#learning-kits-button:hover:before {
    content: "Coming Soon";
}

#learning-kits-button:hover {
    filter: brightness(60%);
}

#page-header {
    text-align: center;
    margin-bottom: 1rem;
}

#privacy-policy-card-body {
    text-shadow: none;
}

#privacy-policy-header {
    font-size: 2rem;
}

#privacy-policy-footer {
    margin-top: 2rem;
}

#proto-header-text {
    font-size: 4rem;
}

#resources-we-love-button {
    background-image: url("../assets/jack-douglass-OIfFRthAASc-unsplash.jpg");
    text-shadow: 2px 2px 15px black, 2px 2px 15px black, 2px 2px 15px black, 2px 2px 15px black;
}

#support-button {
    background-color: white;
    border: 2px solid black;
    color: black;
    text-shadow: none;
}

#support-button:hover {
    background-color: white;
    border: 2px dashed black;
    color: black;
    text-shadow: 1px 1px 2px grey;
}

#terms-of-purchase-card-body {
    text-shadow: none;
}

#terms-of-purchase-header {
    font-size: 2rem;
}

#terms-of-purchase-footer {
    margin-top: 2rem;
}

#terms-of-service-card-body {
    text-shadow: none;
}

#terms-of-service-header {
    font-size: 2rem;
}

#terms-of-service-footer {
    margin-top: 2rem;
}